@media only screen and (max-width: 1366px) {
    .top-container {
        display: grid;
        grid-template-columns: 33% 33% 33%;
    }
    .top10films {
        display: grid;
    }
    .top10-align {
        display: grid;
        grid-template-columns: 50% 50%;
        font-size: 10px;
    }
    .top10-align a {
        position: relative;
        right: -70px;
    }
    .footer {
        display: grid;
        grid-template-columns: 10% 10% 10% 10% 15% 10% 10% 20%;
    }
    .footer-header {
        display: grid;
        grid-template-columns: 10% 10% 10% 10% 15% 10% 10% 20%;
    }
}